<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register Form</title>
        <link rel="stylesheet" href="/css/login.css">
	</head>
	<body>
		<div class="login-form">
			<h1>Register Form</h1>
			<form action="register" method="POST">
                <input type="text" name="username" placeholder="Username" required>
				<input type="email" name="email" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
			<a href="/login">Login instead?</a>
		</div>
	</body>
</html>